/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
}

body {
   font-family: "Rubik", serif;
   background-color: #40667d;
   background-image: linear-gradient(135deg, #1d2144 0%, #05062b 100%);
   min-height: 100dvh;
   color: white;
   padding-inline: 2rem;
   padding-bottom: 3rem;
   padding-top: 3rem;
}

main {
   text-align: center;
   flex-direction: column;
   align-items: center;
   display: flex;
   max-width: 1200px;
   margin-inline: auto;
}

h1 {
   font-weight: 900;
   margin-top: 2rem;
   font-size: 2.6rem;
   margin-bottom: 0.9rem;
}

p {
   font-size: 1.1rem;
   text-wrap: balance;
}

#logo {
   width: 200px;
   border-radius: 10px;
}

#flayer {
   width: 450px;
   margin-top: 2rem;
}

.span {
   color: yellow;
}

#telegram {
   display: flex;
   align-items: center;
   gap: 0.625rem;
   font-size: 21px;
   text-decoration: none;
   margin-top: 1.5rem;
   padding: 0.7rem 0.9rem;
   border-radius: 6px;
   background-color: aliceblue;
   color: black;
}

h5 {
   margin-top: 4rem;
   margin-bottom: 2rem;
   font-size: 1.75rem;
   text-decoration: underline;
}

h6 {
   font-size: 17px;
   margin-bottom: 5px;
}

#comoAcessar {
   display: flex;
   flex-direction: row;
   justify-content: center;
   text-align: center;
   margin-bottom: 4rem;
}

#comoAcessar > div {
   flex-basis: 33.3%;
}

#copy {
   padding: 5px 8px;
   background-color: ghostwhite;
   text-decoration: none;
   color: black;
   border-radius: 5px;
   font-size: 1.125rem;
   display: flex;
   align-items: center;
   width: fit-content;
   margin-inline: auto;
   gap: 5px;
}

#copy img {
   width: 15px;
}

#lastTit {
   margin-bottom: 1rem;
}

#bannerWhats {
   display: grid;
   grid-template-columns: 50% 50%;
   padding-top: 2rem;
   padding-inline: 2rem;
   border-radius: 2rem;
   color: black;
   /* Magic Pattern */
   background-color: #e3e3e3;
   opacity: 0.9;
   background: repeating-linear-gradient(45deg, #ebe8e8, #ebe8e8 8px, #e3e3e3 8px, #e3e3e3 40px);
}

#bannerWhats #left {
   display: flex;
   align-items: end;
   justify-content: center;
}

#bannerWhats #right {
   text-align: start;
   padding-left: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

#bannerWhats #right h3 {
   font-size: 2rem;
   margin-bottom: 0.8rem;
}

#bannerWhats #right #texts {
   display: flex;
   flex-flow: column;
   gap: 1rem;
}

#botaoWhats {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   margin-top: 1.3rem;
   background-color: black;
   color: white;
   width: fit-content;
   padding: 0.3rem 0.6rem;
   border-radius: 0.4rem;
   margin-left: 0.3rem;
}

#botaoWhats img {
   width: 23px;
}

#separador {
   margin-block: 3.4rem;
   width: 100%;
   padding-block: 0.3rem;
   border-radius: 0.5rem;
   background-color: #22244c;
   border: none;
}

#aviso {
   display: none;
}

@media screen and (max-width: 1200px) {
   #comoAcessar > div {
      flex-basis: 50%;
   }
   #comoAcessar {
      flex-wrap: wrap;
      row-gap: 2rem;
   }
}

@media screen and (max-width: 1080px) {
   #bannerWhats {
      grid-template-columns: 100%;
      padding-bottom: 2rem;
   }

   #aviso {
      display: initial;
      font-size: 40px;
   }

   #bannerWhats #right {
      text-align: center;
      padding-left: 0;
   }

   #bannerWhats #left {
      display: none;
   }

   #bannerWhats #right h3 {
      font-size: 1.7rem;
      margin-top: 1rem;
   }

   #botaoWhats {
      margin-inline: auto;
   }
}

@media screen and (max-width: 900px) {
   h1 {
      font-size: 2.1rem;
   }
}

@media screen and (max-width: 700px) {
   h1 {
      font-size: 1.8rem;
   }

   p {
      text-wrap: initial;
   }

   #comoAcessar > div {
      flex-basis: 100%;
   }
}

@media screen and (max-width: 550px) {
   p {
      font-size: 1rem;
   }

   h1 {
      font-size: 1.5rem;
   }

   #flayer {
      width: 100%;
   }

   body {
      padding-top: 2rem;
      padding-inline: 1rem;
      padding-bottom: 4rem;
   }

   #comoAcessar {
      margin-bottom: 1.5rem;
   }

   h5 {
      margin-top: 2rem;
   }

   #bannerWhats {
      padding-inline: 0.6rem;
   }

   #bannerWhats #right h3 {
      font-size: 1.2rem;
   }

   #bannerWhats #right p {
      font-size: 0.9375rem;
   }
}

@media screen and (max-width: 420px) {
   h1 {
      font-size: 1.3rem;
   }

   #logo {
      width: 80px;
   }

   #telegram {
      font-size: 16px;
      padding: 0.7rem 0.9rem;
   }

   #telegram img {
      width: 30px;
   }
}
